html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        form(method='POST')
            legend ValidateEmail
            .form-group
                button.btn.btn-primary(type='submit') Validate